<table class="profile" summary="Profile information">
	<tr>
		<td class="main">
			<h1>
				<%= gravatar_for @user, :size => 100 %>
				<%= @user.name %> 
			</h1>
			<%= render 'follow_form' if signed_in? %>
			<% if @user.microposts.any? %>
				<table class="microposts" summary="User microposts">
					<%= render @microposts %> <!--coordinates a _micropost partial in microposts directory and controller variable @microposts-->  
				</table>
				<%= will_paginate @microposts %>
			<% end %>
		</td>
		<td class="sidebar round">
			<strong>Name</strong> <%= @user.name %><br />
			<strong>URL</strong> <%= link_to user_path(@user), "/users/#{@user.id}" %><br />
			<strong>Microposts</strong> <%= @user.microposts.count %>
			<%= render 'shared/stats' %>
		</td>
	</tr>
</table>
